<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/cayman.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/calculator">D&D Calculators</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:jayissmarter+ghp@gmail.com">email</a></li>
        <li><a href="https://github.com/jpmc">github.com/jpmc</a></li>
    </ul>
</footer>
</body>
</html>